ErrorDocument 404 /404.php

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<Files ~ "^.*\.(LOG|log|sql)">
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^order.*$ https://store.arryved.com/preOrder?locationId=BBORAn6n [R=301,L]