ErrorDocument 404 /404.php

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<Files ~ "^.*\.(LOG|log|sql)">
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^order.*$ https://commerce.arryved.com/location/BBORAn6n [R=301,L]
RewriteRule ^orders.*$ https://commerce.arryved.com/location/BBORAn6n [R=301,L]
RewriteRule ^distro.*$ https://www.beerms.com/menu/distro.php?uid=0731ff47 [R=301,L]
RewriteRule ^crowler.*$ https://commerce.arryved.com/location/BBORAn6n [R=301,L]
RewriteRule ^crowlers.*$ https://commerce.arryved.com/location/BBORAn6n [R=301,L]
RewriteRule ^togo.*$ https://commerce.arryved.com/location/BBORAn6n [R=301,L]
RewriteRule ^ToGo.*$ https://commerce.arryved.com/location/BBORAn6n [R=301,L]
RewriteRule ^food.*$ https://www.beerms.com/menu/qr/?type=f&uid=0731ff47 [R=301,L]
RewriteRule ^Food.*$ https://www.beerms.com/menu/qr/?type=f&uid=0731ff47 [R=301,L]
RewriteRule ^beer.*$ https://www.leavenbrewing.com/#BeerList [R=301,L,NE]
RewriteRule ^Beer.*$ https://www.leavenbrewing.com/#BeerList [R=301,L,NE]