ErrorDocument 404 /404.php

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<Files ~ "^.*\.(LOG|log|sql)">
    Order allow,deny
    Deny from all
</Files>

RewriteEngine on
RewriteRule ^(.\order*)$ https://store.arryved.com/preOrder?locationId=BBORAn6n [L,R=301]