/* Style for the CMS pages */
@media (min-width: 768px) {
    #BeerMS {
    float:right;
    padding: 10px;
    text-align: right;
  }
  .clear {
    clear: both;
  }
  .lefty {
    float: left;
  }
  .hiImg {
    width: 80%;
    margin: 25px;
  }
}
@media (max-width: 768px) {
  #BeerMS, .hiImg {
    display:none;
  }
}
.beerMSLogin {
  width: 200px;
  margin-right: 100px;
}
#BeerContainer {
  display: flex;
}
table {
  border-radius: 2em;
  overflow: hidden;
}
#BeerActive, #BeerInactive {
  margin: 10px;
  width: 50%;
}
#InactiveBeerTable tr,
#ActiveBeerTable tr {
  background-color: #26313c;
  height: 260px;
  border-bottom: 2px solid white;
}
.buttons {
  padding: 0 10px;
}
.lastUpd {
  font-size: 1em;
  padding: 10px 0;
  color: coral;
  font-style: italic;
}
.warning {
  font-size: 2em;
  text-align:center;
  margin-top: 5%;
}
.howto {
  margin: 30px 10px 5px 10px;
  font-size: 1.5em;
}
.beerDescription {
  margin: 0;
  }
.beerShortDescription {
  margin-top: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: yellow;
  border-radius: 5px;
  padding: 3px 8px;
  color: black;
  clear: both;
}
h1 {
  margin:12px;
  font-weight:bold;
}
h2,h3,h4,h5,p {
  margin:0px;
}
h3 {
  font-size: 28px
}
p {
  font-size: 1.1em;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  background-color: #374049;
  color: #fff;
}
input, select, textarea {
  font-size: 1.em;
  color:#000;
}
.buttons .btn {
  width: 190px;
}
.btn {
  color:black;
}
.add-btn {
  margin: 10px;
  border: solid yellow 3px;
}
.btn-info {
  background-color: aqua;
}
.important {
  font-weight: bold;
  color: yellow;
}
th, td {
  padding: 15px;
  text-align: left;
}
th {
  font-size: 1.3em;
}
.btn-danger {
  font-size: 1.5em;
  color:#000;
  margin-top: 10px;
}
.btn-addBeer {
  width:150px;
  height: 40px;
}
.beerList img {
  float:left;
  margin:10px;
}
.beerSectionHeader {
  margin: 0 0 16px 10px;
  font-weight: bold;
  font-size: 3em;
}
.devil {
  position: absolute;
  right: 20px;
  opacity: 0.3;
}
.modal-body {
  display: flex;
  justify-content: space-between;
}
.modal-body > .add-section {
  margin: 5px;
  font-size: 1.3em;
}
.modalH {
  color:#000;
  font-weight:bold;
}
.modal-content {
  color:#000;
}
.modal-dialog {
  width: 800px;
}
.modal-body {
  padding: 0 15px;
}
.flex-it {
  display: flex;
  justify-content: space-around;
}
.flex-it img {
  height: 80px;
}
.flex-section {
  margin: 10px;
  font-size: 1.5em;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}
.add-header {
  font-size: 1.3em;
  font-weight: bold;
}
.addDetail {
  font-size: .5em;
}
#AddImageDiv img {
  height: 70px;
}
#ActiveRadios {
  float:left;
  margin-left: 45%;
  text-align: left;
  font-size: 1.2em;
}
.flex-section:hover {
  background-color: #5bc0de;
}
.editPage {
  font-size: 2em;
}
.edit-beer {
  color: cyan;
  font-size: 1.5em;
  font-weight: bold;
}
.edit-beer:hover {
  color: white;
}
.edit-beer img {
  height: auto;
}
.editLink {
  margin-bottom: 10px;
}
.btn {
  font-size: 17px;
}
.btn-login {
  font-size: 20px;
  margin: 0;
  width: 120px;
}
.egg {
  cursor: help;
}