body {
  color: #cecece;
  background-color: #2c2c2c;
  font-family: 'Acme', sans-serif;
  font-size: 1.3em;
}
#GetBack {
  margin: 10px;
  float: left;
  font-size: 1.3em;
}
#Blanco {
  margin-left: 25%;
  /*border: 1px dashed red;*/
  width: 550px;
  padding: 20px;
  background: #0f0f0f url("blanco.jpg") no-repeat;
}
#Byline {
  font-size: 2.1em;
  font-style: italic;
  text-align: right;
  font-family: 'Shadows Into Light', cursive;
}
p {
  margin: 0;
  font-size: 1.2em;
}
h1 {
  font-weight: bolder;
  font-size: 2.6em;
}
@media (max-width: 812px) {
  #Blanco {
    margin: 0;
    width: 100%;
    font-size: .8em;
  }
}