@font-face {
  font-family: Futura-Round;
  src: url("fonts/FuturaRound-Bold.woff") format("woff"), url("fonts/FuturaRound-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Kapra-Neue;
  src: url("fonts/KapraNeue-MediumCondensed.woff") format("woff"), url("fonts/KapraNeue-MediumCondensed.ttf") format("truetype");
}
body {
  background-color: black;
  font-family: Futura-Round;
  text-transform: uppercase;
}
#QrTitle {
  width: 100%;
  margin-bottom: 30px;
}
.beer {
  margin: 30px 0;
}
h1, h2, h3 {
  margin: unset;
}
h1 {
  font-family: Kapra-Neue;
  color: white;
  font-size: 165px;
}
h2 {
  font-family: Futura-Round;
  font-size: 52px;
  color: white;
}
h3 {
  color: #f7c118;
  font-size: 38px;
}