body {
  background-color: black;
  color: white;
  text-transform: uppercase;
  margin-top: 35px;
}
@font-face {
  font-family: Futura-Round;
  src: url("fonts/FuturaRound-Bold.woff") format("woff"), url("fonts/FuturaRound-Bold.ttf")  format("truetype");
}
@font-face {
  font-family: Kapra-Neue;
  src: url("fonts/KapraNeue-MediumCondensed.woff") format("woff"), url("fonts/KapraNeue-MediumCondensed.ttf")  format("truetype");
}
#ScreenChoice {
  padding-bottom: 1em;
  text-align: center;
}
form {
  text-align: center;
}
.whichScreen {
  width: 15em;
  height: 4em;
  font-family: futura-Round;
  background-color: darkred;
  color: white;
  border-radius: 10px;
  border: dashed 2px;
  font-size: 25px;
  margin: 0 125px;
}
.whichScreen:hover {
  background-color: #f7c118;
  border: solid 3px;
  color: black;
  cursor: pointer;
}
/* RESET */
h1,h2,h3 {
  margin: 0;
  padding: 0;
}
h1,h3 {
  font-family: Kapra-Neue;
}
h1 {
  font-size:125px;
  text-transform: uppercase;
  margin-bottom: -25px;
  max-height: 150px;
  width: 100%;
  overflow: hidden;
}
h2 {
  font-family: Futura-Round;
  color: #f7c118;
  font-size: 22px;
}
h3 {
  font-size: 40px;
  color: #f7c118;
}
.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}
.beer {
  width:50%;
  text-align: center;
}
#MenuFooter {
  max-width: 100%;
  position: fixed;
  bottom: 0;
}